.contact_information_style3 {
    display: flex;
    flex-direction: row;

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
    }

    @media (max-width: 768px) {}

    &-sidebar {
        padding-block: 4rem;
        padding-inline: 2rem;
        background-color: var(--primary-color);
        width: 30%;

        @media (max-width: 1024px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            padding: 1rem;
        }


        &-text {
            width: 100%;
            text-align: start;
            color: var(--light);

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            margin-bottom: 2rem;

            @media (max-width: 768px) {
                text-align: start;
                margin-bottom: 2rem;
            }

            &-title {
                font-size: 28px;
                margin-bottom: 1rem;
                text-transform: capitalize;

                @media (max-width: 1024px) {
                    font-size: 24px;
                }

                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }

            &-subtitle {
                font-size: 24px;
                margin-bottom: 1rem;
                text-transform: capitalize;
                margin-top: 0.2rem;

                font-weight: 200;

                @media (max-width: 1024px) {
                    font-size: 20px;
                }

                @media (max-width: 768px) {
                    font-size: 18px;
                }
            }

            &-description {
                font-size: 16px;
                width: 100%;
                line-height: 1.5;
                margin-bottom: 2rem;

                width: 90%;

                @media (max-width: 1024px) {
                    width: 90%;
                }

                @media (max-width: 768px) {
                    font-size: 16px;
                    width: 100%;
                }
            }

            &-actions {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                gap: 1rem;

                margin-bottom: 2rem;

                button {
                    min-width: 256px;
                }

                @media (max-width: 768px) {
                    flex-direction: column;

                    button {
                        min-width: 100%;

                        a{
                            padding: 0.5rem;
                        }
                        svg {
                            width: 16px;
                            margin-right: 0.5rem;
                        }

                        span{
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        &-info {
            width: 100%;

            color: var(--light);

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            margin-bottom: 2rem;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
            }

            &-node {
                display: flex;
                flex-direction: row;

                align-items: center;
                min-width: 256px;

                margin-bottom: 2rem;

                @media (max-width: 768px){
                    min-width: 100%;
                }

                &-image {
                    height: 48px;
                    margin-right: 1rem;

                    display: none;

                    img {
                        height: 100%;
                    }
                }

                @media (max-width: 768px) {
                    margin-bottom: 2rem;
                    margin-left: 0;
                }

                &-text {
                    p {
                        font-size: 18px;
                        margin-bottom: 0.5rem;
                    }

                    h3 {
                        text-decoration: underline;
                        margin-left: 1rem;
                    }


                    @media (max-width: 768px) {
                        p{
                            font-size: 14px;
                        }

                        h3{
                            font-size: 14px;                        }
                    }
                }
            }
        }

        &-social {
            background-color: var(--primary-color);
            min-height: 36px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
    }


    &-illustration {
        width: 70%;
        background-image: url("/public/bgs/contact_information/bg_desktop.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        @media (max-width: 1024px) {
            width: 100%;
            height: 500px;
            background-image: url("/public/bgs/contact_information/bg_tablet.png");
        }

        @media (max-width: 768px) {
            background-image: url("/public/bgs/contact_information/bg_mobile.png");
        }
    }
}