.enterprise_description_style1{
    padding-block: 4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px){
       flex-direction: column-reverse; 
    }

    &-text{
        width: 50%;
        padding-inline: 2rem;

        
    @media (max-width: 1024px){
        width: 100%; 
     }

        &-title {
            font-size: 36px;
            margin-bottom: 2rem;
            text-transform: capitalize;

            text-align: center;

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        &-description {
            font-size: 20px;
            width: 100%;
            line-height: 1.75;

            margin-bottom: 2rem;
            
            width: 100%;

            background-color: var(--primary-color);
            color: var(--light);

            border-radius: 1rem;
            padding: 2rem;

            box-shadow: 0 4px 6px hsla(0, 0%, 0%, .2); ;
            
            @media (max-width: 768px) {
                font-size: 16px;
                width: 100%;
            }
        }
    }

    &-image{
        width: 50%;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 1024px){
            width: 100%; 
            justify-content: center;
            margin-bottom: 1rem;
        }
        
        img{
            width: 100%;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            
            @media (max-width: 1024px){
                width: 90%;
                border-radius: 1rem;
            }
        }
    }
}