.enterprise_description_style2{
    padding-block: 4rem;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px){
       flex-direction: column-reverse; 
    }
    
    @media (max-width: 768px){
    padding-block: 2rem; 
    }

    &-text{
        width: 60%;
        padding-inline: 2rem;

        text-align: start;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    @media (max-width: 1024px){
        width: 100%; 
     }

     &-tag {
        display: flex;
        flex-direction: row;

        width: fit-content;
        align-items: center;
        justify-content: space-evenly;

        margin-bottom: 0.5rem;        
        
        p {
            color: var(--accent-color);
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 800;
        }
    }


        &-title {
            font-size: 36px;
            
        font-weight: 700;
            margin-bottom: 2rem;
            text-transform: capitalize;


            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

            
    &-subtitle {
        font-size: 28px;
        margin-bottom: 2rem;
        text-transform: capitalize;

        font-weight: 500;

        @media (max-width: 1024px) {
            font-size: 20px;
        }

        @media (max-width: 768px) {
            font-size: 18px;
        }
    }



        &-description {
            font-size: 20px;
            width: 100%;
            line-height: 1.75;

            margin-bottom: 2rem;
            
            width: 100%;

            background-color: var(--primary-color);
            color: var(--light);

            border-radius: 1rem;
            padding: 2rem;

            box-shadow: 0 4px 6px hsla(0, 0%, 0%, .2); ;
            
            @media (max-width: 768px) {
                font-size: 16px;
                width: 100%;
            }
        }
    }

    &-image{
        width: 40%;
        display: flex;
        justify-content: center;

        @media (max-width: 1024px){
            width: 100%; 
            justify-content: center;
            margin-bottom: 4rem;
        }
        
        img{
            width: 90%;

            border-radius: 2rem;
            box-shadow: var(--shadow-m);
            @media (max-width: 1024px){
                width: 90%;
                border-radius: 1rem;
            }
        }
    }
}