.product_details_style1 {

    &-banner {

        padding-top: 10vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &-logo {
            display: none;
        }

        h2 {
            font-size: 48px;
            position: relative;
            color: transparent;
            background-image: linear-gradient(45deg, var(--primary-color), #75d5a8, var(--accent-color), #ff00ff);
            background-size: 400% 400%;
            animation: gradient-animation 10s ease infinite;
            -webkit-background-clip: text;
            background-clip: text;

            margin-bottom: 1rem;

            text-transform: capitalize;
        }

        p {
            width: 50%;
            margin-bottom: 1rem;
        }
    }

    &-hero {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        &-image-container {

            position: relative;
            overflow: hidden;
            max-width: calc(50% - 10px);
            margin-right: 10px;

            width: 50%;

            #zoom-container {
                overflow: hidden;
            }

            &-image {
                width: 45%;
                display: block;
                margin: 0 auto;
                transition: transform 0.5s ease;

                &:hover {
                    transform: scale(2);
                    cursor: zoom-in;
                }
            }
        }

        &-thumbnails {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            &-item {
                width: 50px;
                height: 50px;
                margin: 0 8px;

                cursor: pointer;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &-details-container {

            padding-block: 3rem;
            max-width: calc(50% - 10px);
            margin-left: 10px;

            width: 50%;

            &-detail {

                h2 {
                    color: var(--primary-color);
                    font-size: 28px;

                    margin-bottom: 1rem;
                }

                p {
                    font-size: 16px;
                    line-height: 1.75;
                    margin-bottom: 1rem;
                }

                ul {

                    margin-bottom: 2rem;

                    li {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        margin-bottom: 1rem;

                        span {
                            font-weight: bold;
                        }

                        svg {
                            margin-right: 1rem;
                        }
                    }
                }

            }
        }

        &-prev-btn,
        &-next-btn {

            width: 50px;
            height: 50px;
            border-radius: 8px;

            background-color: transparent;
            border: 1px solid $Gray300;
            cursor: pointer;

            @include Interactable;

        }
    }


    &-technicals {

        padding-block: 4rem;

        display: flex;
        flex-direction: row;
        gap: 1rem;

        &-text {
            width: 50%;

            &-title {
                color: var(--primary-color);
                font-size: 28px;

                margin-bottom: 1rem;
            }

            &-description {
                color: var(--dark);
                font-size: 16px;
                line-height: 1.75;
                margin-bottom: 4rem;
                width: 80%;
            }
        }


        &-table-container {
            width: 50%;
            display: inline-block;
            overflow-x: auto;

            &-table {
                width: 100%;
                border-collapse: collapse;
                margin: 0 auto;

                thead {
                    background-color: $Gray200;
                    font-weight: 800;
                }

                td {
                    padding: 1rem;
                    border: 1px solid $Gray300;

                    &:last-child {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1024px) {
    .product_details_style1 {
        &-hero {
            flex-direction: column-reverse;
            padding-block: 1rem;

            &-image-container {
                max-width: 100%;
                width: 100%;

            }

            &-details-container {
                max-width: 100%;
                margin: 0;
            }
        }

        &-technicals {
            padding-block: 1rem;

            display: flex;
            flex-direction: column;

            &-text {
                width: 100%;
            }

            &-table-container {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .product_details_style1 {

        &-hero {
            flex-direction: column;

            &-image-container {
                max-width: 100%;
                width: 100%;

            }

            &-details-container {
                max-width: 100%;
                margin: 0;
            }
        }

        &-banner {

            padding-top: 0;
            padding: 1rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;


            &-logo {
                display: block;
                height: 3rem;

                margin-bottom: 1.5rem;

                img {
                    height: 100%;
                }
            }

            h2 {
                font-size: 32px;
                margin-bottom: 1rem;
            }

            p {
                width: 90%;
                font-size: 16px;
                margin-bottom: 1rem;
            }

            button {
                width: 100%;
            }
        }
    }
}