.dashboard_header {
    height: 64px;
    border-bottom: 1px solid var(--db-gray);
    width: calc(100vw - 256px);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 1024px) {
        width: 100vw;
        justify-content: center;
    }

    padding: 1rem;

    &-buttons {
        display: flex;
        flex-direction: row;

        justify-content: space-evenly;
        padding: 1rem;

        gap: 1rem;
    }
}