.dashboard-main-container {
    width: calc(100vw - 256px);
    height: calc(100vh - 64px);

    padding: 2rem;
    padding-top: 1rem;

    overflow-x: auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $Gray500;
        border-radius: 4px;

        &:hover {
            background: $Gray400;
            cursor: pointer;
        }

    }

    @media (max-width: 1024px) {
        width: 100vw;
        height: auto;

        padding: 1rem;

        overflow-x: auto;
    }


    &-breadcrumbs {
        width: 100%;
        padding: 1rem;
        padding-left: 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        a,
        svg {
            color: var(--db-light);
            stroke: var(--db-light);

            margin-left: 1rem;
            opacity: 0.7;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                font-weight: 600;
                opacity: 1;
            }


            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        margin-bottom: 1rem;
    }

    &-table {
        border-collapse: collapse;
        width: 100%;

        @media (max-width: 1024px) {
            font-size: 12px;
        }


        th,
        td {
            border: 1px solid var(--db-gray);
            padding: 1rem;
            text-align: start;

            font-size: 14px;

            max-width: 200px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            img {
                max-width: 100px;
            }

            .dashboard-icon-button {
                display: grid;
                margin-right: 1rem;
            }
        }

        th {
            background-color: $Gray800;
            color: var(--db-dark);
            border: 1px solid $Gray600;

        }


        tr:hover {
            background-color: var(--db-dark-gray);
        }

        td:last-child {
            white-space: nowrap;

            .dashboard-icon-button {
                /// Add ,form here if you want the delete button to be in the same line as the other notiication
                margin: 0.2rem;
                display: inline-block;
            }
        }

    }

    &-modules {
        border: 1px solid var(--db-gray);
        border-radius: 1rem;

        padding: 1rem;

        overflow: scroll;

        height: calc(100vh - 200px);


        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $Gray500;
            border-radius: 4px;

            &:hover {
                background: $Gray400;
                cursor: pointer;
            }

        }
    }



}

.dashboard-icon-button {
    cursor: pointer;
    @include Interactable;

    width: 32px;
    height: 32px;

    @media (max-width: 1024px) {
        width: 28px;
        height: 28px;
    }

    border-radius: 8px;
    border: 1px solid var(--db-light);

    display: grid;
    place-items: center;

    background-color: transparent;


    svg {
        width: 24px;
        height: 24px;

        @media (max-width: 1024px) {
            width: 20px;
            height: 20px;
        }

        stroke: var(--db-light);
    }

}


.action-view {
    background-color: var(--db-blue);
}

.action-edit {
    background-color: var(--db-purple);
}

.action-delete {
    background-color: var(--db-red);
}

.dashboard-icon-dropdown {
    cursor: pointer;

    display: inline-block;

    height: 32px;
    padding-inline: 0.5rem;

    border: 1px solid var(--db-light);
    border-radius: 8px;

    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    gap: 0.5rem;

    span {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: var(--db-light);
    }

    svg {
        stroke: var(--db-light);
    }
}

.dashboard-dropdown-menu {
    position: absolute;
    z-index: 9999;

    border: 1px solid var(--db-light);
    border-radius: 8px;

    background-color: var(--db-dark);
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);

    top: 54px;

    ul {
        width: 100%;
        height: 100%;


        li {
            padding: 0.5rem;
            padding-inline: 1.5rem;
            border-bottom: 1px solid $Gray200;
        }
    }
}

.dashboard-main-button {
    cursor: pointer;
    @include Interactable;

    height: 32px;
    background-color: $Green500;
    color: #ffffff;

    padding-inline: 0.5rem;

    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-size: 16px;

    border: none;

    svg {
        stroke: #ffffff;
        margin-right: 0.5rem;
    }

}



.dashboard-secondary-button {
    cursor: pointer;
    @include Interactable;

    height: 32px;
    background-color: transparent;
    color: var(--db-light);

    padding-inline: 0.5rem;

    border: 1px solid var(--db-light);
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;

    display: flex;

    font-family: 'Inter', sans-serif;
    font-size: 16px;


    svg {
        stroke: var(--db-light);
        margin-right: 0.5rem;
    }

}


.dashboard-action-button {
    cursor: pointer;
    @include Interactable;

    height: 32px;
    background-color: $Gray800;
    color: $Gray100;



    padding-inline: 0.5rem;

    border: 1px solid var(--db-gray);
    border-radius: 8px;

    font-family: "Inter", sans-serif;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 3rem;

}


/// NODES


.node {

    &-input,
    &-display {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 3rem;

        label {
            font-size: 16px;
            color: var(--db-light);
            margin-bottom: 0.5rem;
        }

        input {

            @include Interactable;

            width: 256px;

            @media (max-width: 1024px) {
                width: 100%;
            }

            height: 32px;
            left: 352px;
            top: 242px;

            border: 1px solid var(--db-gray);
            border-radius: 8px;

            padding-inline: 0.5rem;

            color: var(--db-light);
            font-family: 'Inter',
            sans-serif;
            font-size: 14px;
            font-weight: 500;

            background-color: var(--db-dark);

            margin-bottom: 1rem;

            &::placeholder {
                color: var(--db-gray);
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 400;
            }
        }


        textarea {
            width: 50%;

            @media (max-width: 1024px) {
                width: 100%;
            }

            border-radius: 8px;
            border: 1px solid var(--db-gray);

            padding: 1rem;
            line-height: 1.5;

            resize: none;
            overflow: scroll;

            @include Interactable;

            background-color: var(--db-dark);
            color: var(--db-light);

            &::-webkit-scrollbar {
                width: 8px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $Gray500;
                border-radius: 4px;

                &:hover {
                    background: $Gray400;
                    cursor: pointer;
                }

            }
        }

        select {
            cursor: pointer;
            outline: none;

            width: 256px;

            height: 32px;
            left: 352px;
            top: 242px;

            border: 1px solid var(--db-gray);
            border-radius: 8px;

            padding-inline: 0.5rem;

            background-color: var(--db-dark);

            color: var(--db-light);
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;

            @include Interactable;

            &::-webkit-scrollbar {
                width: 8px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $Gray500;
                border-radius: 4px;

                &:hover {
                    background: $Gray400;
                    cursor: pointer;
                }

            }
        }
    }


    &-permalink {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;

        label {
            font-size: 16px;
            color: var(--db-light);
            margin-bottom: 0.5rem;
        }

        &-preview {
            margin-left: 1rem;

            input {
                outline: none;
                border: none;
                border-bottom: 1px solid var(--db-gray);
                padding: 0.25rem 0.5rem;

                background-color: var(--db-dark);
                color: var(--db-light);
            }
        }
    }

    &-shortcode-picker,
    &-selector {
        margin-bottom: 3rem;
        height: 64px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        label {
            font-size: 16px;
            color: var(--db-light);
            margin-bottom: 0.1rem;
        }

        select {
            cursor: pointer;
            outline: none;

            width: 256px;

            height: 32px;
            left: 352px;
            top: 242px;

            border: 1px solid var(--db-gray);
            border-radius: 8px;

            padding-inline: 0.5rem;

            background-color: var(--db-dark);

            color: var(--db-light);
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 500;

            @include Interactable;

            &::-webkit-scrollbar {
                width: 8px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $Gray500;
                border-radius: 4px;

                &:hover {
                    background: $Gray400;
                    cursor: pointer;
                }

            }
        }
    }


    &-display {

        input,
        textarea {
            background-color: var(--db-dark-gray);
            color: var(--db-light);
            height: 256px;
        }

        &-head {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &-action {
            margin-bottom: 1rem;
            background-color: var(--db-blue);
            margin-right: 1rem;
        }
    }

}


.shortcode-editor {
    background-color: var(--db-dark-gray);
    border: 1px solid var(--db-gray);

    border-radius: 8px;
    padding: 1rem;
    width: 100%;

    margin-bottom: 3rem;
    padding-inline: 2rem;

    .shortcode_module {
        margin-block: 2rem;

        border-bottom: 4px solid var(--db-gray);

        &-title {
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        .node-input {
            margin-bottom: 0.5rem;
        }

    }


    .node-input,
    .node-selector {
        margin-bottom: 1rem;

        label {
            text-transform: uppercase;
            font-size: 12px;
        }

        textarea {
            font-family: 'Inter', sans-serif;
            width: 50%;
            min-height: 128px;

            @media (max-width: 1024px) {
                width: 100%;
            }
        }
    }
}

.dashboard-images-gallery {
    display: flex;
    flex-wrap: wrap;

    width: 100%;

    gap: 0.5rem;

    a {
        overflow: hidden;
        width: 24%;
        height: 400px;

        display: grid;
        place-items: center;

        border: 1px solid var(--db-gray);
    }

    img {
        width: 60%;
    }
}

.dashboard-final-actions {
    display: flex;
    flex-direction: row;
}

.dashboard-row {
    display: flex;
    flex-direction: row;

    gap: 1rem;

    width: 100%;

    &-half {
        display: flex;
        flex-direction: row;

        gap: 1rem;
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
        }

    }

    @media (max-width: 768px) {
        width: 100%;
    }

    input {

        @include Interactable;

        width: 256px;

        @media (max-width: 1024px) {
            width: 100%;
        }

        height: 32px;
        left: 352px;
        top: 242px;

        border: 1px solid var(--db-gray);
        border-radius: 8px;

        padding-inline: 0.5rem;

        color: var(--db-light);
        font-family: 'Inter',
        sans-serif;
        font-size: 14px;
        font-weight: 500;

        background-color: var(--db-dark);

        margin-bottom: 1rem;

        &::placeholder {
            color: var(--db-gray);
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 400;
        }
    }

    select {
        cursor: pointer;
        outline: none;

        width: 256px;

        height: 32px;
        left: 352px;
        top: 242px;

        border: 1px solid var(--db-gray);
        border-radius: 8px;

        padding-inline: 0.5rem;

        background-color: var(--db-dark);

        color: var(--db-light);
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 500;

        @include Interactable;

        &::-webkit-scrollbar {
            width: 8px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $Gray500;
            border-radius: 4px;

            &:hover {
                background: $Gray400;
                cursor: pointer;
            }

        }
    }


    // For the shortcode Editor:

    .node-display {
        width: 100%;
        margin-bottom: 1rem;

        textarea {
            width: 100%;
        }

        &:nth-child(1) {
            .dashboard-icon-button {
                background-color: $Yellow200;
            }
        }

        &:nth-child(2) {
            .dashboard-icon-button {
                background-color: $Green200;
            }
        }

    }
}


.dashboard_notification {
    position: fixed;
    border-radius: 8px;
    height: 64px;

    min-width: 256px;
    max-width: 300px;

    right: 0;
    bottom: 0;

    margin-right: 2rem;
    margin-bottom: 2rem;

    background-color: var(--db-light);

    box-shadow: 0 5px 15px hsla(0, 4%, 17%, 0.2);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;

    p {
        color: var(--db-dark);

        max-width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        margin-right: 1rem;
    }

    button {
        background-color: transparent;
        border: none;

        cursor: pointer;

        transition: transform 200ms ease;

        &:hover {
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(1px);
        }
    }
}