.about_overview_style2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-block: 4rem;

    &-content {
        border: 1px solid $Gray300;
        border-radius: 8px;

        display: flex;
        flex-direction: row;
        gap: 1rem;
        height: 60vh;

        @media screen and (max-height: 800px) {
            height: 80vh;
        }

        &-text {
            padding-inline: 1rem;
            width: 100%;
            margin: auto 0;

            &-tag {
                display: flex;
                flex-direction: row;

                width: fit-content;
                align-items: center;
                justify-content: space-evenly;

                margin-bottom: 0.5rem;

                svg {
                    height: 24px;
                    width: 24px;

                    stroke: var(--primary-color);
                    margin-right: 0.5rem;
                }

                p {
                    color: var(--primary-color);
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 800;
                }
            }

            &-title {
                font-size: 32px;
                margin-bottom: 2rem;
                text-transform: capitalize;
            }

            &-description {
                width: 48ch;
                line-height: 1.5;
                margin-bottom: 2rem;
            }

            button {
                background-color: var(--primary-color);
                border: 1px solid var(--primary-color);

                &:hover {
                    border: 1px solid var(--primary-color);

                    span,
                    svg {
                        color: var(--primary-color);
                        stroke: var(--primary-color);
                    }
                }
            }

        }

        &-image {
            width: 100%;
            height: 100%;

            overflow: hidden;

            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;


            img {
                width: 100%;

                position: relative;

                bottom: 8rem;
            }
        }
    }



    &-nodes {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        &-node {
            width: 25%;
            padding: 1rem;

            &-icon {
                width: 48px;
                height: 48px;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                }
            }

            h3 {
                margin-bottom: 0.5rem;
            }
        }
    }
}

/* Tablet styles */
@media (max-width: 1025px) {
    .about_overview_style2 {
        padding-block: 2rem;

        &-content {
            flex-direction: column;

            gap: 1rem;
            height: auto;

            &-text {
                padding: 1rem;
                width: 100%;

                &-tag {
                    display: flex;
                    flex-direction: row;

                    width: fit-content;
                    align-items: center;
                    justify-content: space-evenly;

                    margin-bottom: 0.5rem;

                }


                &-description {
                    width: 70%;
                    line-height: 1.5;
                    margin-bottom: 2rem;
                }

            }

            &-image {
                height: 50%;
                width: 100%;

                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;

                img {
                    width: 100%;
                }

            }
        }

        &-nodes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1rem;

            &-node {
                width: 100%;
                padding: 1rem;

                &-icon {
                    width: 48px;
                    height: 48px;
                    margin-bottom: 1rem;

                    img {
                        width: 100%;
                    }
                }

                h3 {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .about_overview_style2 {
        padding-block: 2rem;

        &-content {
            flex-direction: column;

            gap: 1rem;

            height: auto;

            &-text {
                padding: 1rem;
                width: 100%;

                &-tag {
                    display: flex;
                    flex-direction: row;

                    width: fit-content;
                    align-items: center;
                    justify-content: space-evenly;

                    margin-bottom: 0.5rem;

                }


                &-description {
                    width: 100%;
                    line-height: 1.5;
                    margin-bottom: 2rem;
                }

            }

            &-image {
                height: 100%;
                width: 100%;

                overflow: hidden;

                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;

                img {
                    position: relative;

                    bottom: 0rem;
                }

            }
        }



        &-nodes {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            // display: grid;
            // grid-template-columns: repeat(2, 1fr);
            // grid-template-rows: repeat(2, 1fr);
            // gap: 1rem;

            &-node {
                width: 100%;
                padding: 1rem;

                &-icon {
                    width: 48px;
                    height: 48px;
                    margin-bottom: 1rem;

                    img {
                        width: 100%;
                    }
                }

                h3 {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}