.about_overview_style5 {

    gap: 1rem;
    padding-block: 4rem;

    height: 100vh;

    background-image: url('/public/bgs/about_overview/bg_desktop.png');
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2rem;


    @media (max-width: 768px) {
        border-radius: 0;
    }

    .dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &-content {

        display: flex;
        flex-direction: column;
        gap: 1rem;

        align-items: center;

        color: white;
        z-index: 1;
        position: relative;


        &-text {
            padding-inline: 1rem;
            width: 70%;
            margin: auto 0;

            margin-bottom: 1rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            &-tag {
                display: flex;
                flex-direction: row;

                width: fit-content;
                align-items: center;
                justify-content: space-evenly;

                margin-bottom: 0.5rem;

                svg {
                    height: 24px;
                    width: 24px;

                    stroke: var(--accent-color);
                    margin-right: 0.5rem;
                }

                p {
                    color: var(--accent-color);
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 800;
                }
            }

            &-title {
                font-size: 48px;
                margin-bottom: 2.5rem;
                text-transform: capitalize;
                text-align: center;
            }

            &-description {
                width: 100%;
                font-size: 18px;
                line-height: 1.75;
                margin-bottom: 2rem;
                text-align: center;
            }

            @media (max-width: 768px) {

                width: 100%;

                &-title {
                    font-size: 28px;
                    margin-bottom: 2.5rem;
                    text-transform: capitalize;
                }

                &-description {
                    width: 100%;
                    font-size: 18px;
                    line-height: 1.75;
                    margin-bottom: 2rem;

                }
            }

        }

        &-image {
            width: 100%;

            overflow: hidden;

            border-radius: 8px;

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

}