.category_overview_style1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 2rem;

    padding-block: 4rem;

    &-text {
        width: 50%;

        &-tag {
            display: flex;
            flex-direction: row;

            width: fit-content;
            align-items: center;
            justify-content: space-evenly;

            margin-bottom: 0.5rem;

            svg {
                height: 24px;
                width: 24px;

                stroke: var(--accent-color);
                margin-right: 0.5rem;
            }

            p {
                color: var(--accent-color);
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 800;
            }
        }

        &-title {
            font-size: 32px;
            margin-bottom: 2rem;
        }

        &-description {
            width: 48ch;
            line-height: 1.5;
            margin-bottom: 2rem;
        }
    }

    &-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 50%;

        gap: 1rem;

        &-item {
            height: 100%;
            border: 1px solid $Gray300;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;

            padding: 1rem;

            &-image {
                height: 50%;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            &-text {
                height: 50%;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    margin-bottom: 2rem;
                    text-transform: capitalize;
                }

                p {
                    margin-bottom: 1rem;
                    line-height: 1.5;
                    font-size: 14px;
                }

            }

        }
    }
}

/* Mobile styles */
@media (max-width: 768px) {
    .category_overview_style1 {
        flex-direction: column;
        justify-content: space-evenly;

        gap: 1rem;

        padding-block: 2rem;

        &-text {
            width: 100%;
            padding-block: 1rem;

            &-description {
                width: 100%;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            width: 100%;

            gap: 1rem;

            &-item {
                height: 100%;
                border: 1px solid $Gray300;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 100%;

                padding: 1rem;

                &-image {
                    height: 50%;
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                &-text {
                    height: 50%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        margin-bottom: 2rem;
                        text-transform: capitalize;
                    }

                    p {
                        margin-bottom: 1rem;
                        line-height: 1.5;
                        font-size: 14px;
                    }

                }

            }
        }
    }
}

/* Tablet styles */
@media (max-width: 1025px) {
    .category_overview_style1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        gap: 2rem;

        padding-block: 2rem;

        &-text {
            width: 100%;
        }

        &-content {
            width: 100%;
        }
    }
}