.contact_form_style1 {
    display: flex;
    flex-direction: row;

    gap: 1rem;

    padding-block: 2rem;

    &-text {
        width: 50%;

        &-title {
            width: 80%;
            font-size: 32px;
            margin-bottom: 2rem;
        }

        &-description {
            width: 80%;
            line-height: 1.5;
            margin-bottom: 2rem;
        }

        &-maptag {
            margin-bottom: 1rem;
        }

        &-map {
            height: 60%;
            border: 1px solid $Gray300;
            border-radius: 8px;
        }
    }

    &-mapmobile {
        display: none;
    }

    &-form {

        display: flex;
        flex-direction: column;

        width: 50%;

        border: 1px solid $Gray300;
        border-radius: 8px;

        padding: 1rem;
        gap: 1rem;

        &-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }

        input,
        textarea {
            width: 100%;
            padding: 1rem;
            border: 1px solid $Gray300;
            border-radius: 8px;

            @include Interactable;

            &::placeholder {
                font-family: 'Inter', sans-serif;
                font-size: 16px;
            }
        }

        textarea {
            height: 200px;
            font-family: 'Inter', sans-serif;
        }

        &-submit {
            background-color: var(--accent-color);
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: var(--light);

            cursor: pointer;

            @include Interactable
        }

    }
}

.contact_form_style1-form .success {
    border-color: $Green300;
}

.contact_form_style1-form .error {
    border-color: $Red300;
}

@media screen and (max-width: 1024px) {
    .contact_form_style1 {
        flex-direction: column;

        &-text {
            width: 100%;

            &-title {
                width: 100%;
                font-size: 32px;
                margin-bottom: 2rem;
            }

            &-description {
                width: 100%;
                line-height: 1.5;
                margin-bottom: 2rem;
            }

            &-maptag {
                margin-bottom: 1rem;

                display: none;
            }

            &-map {
                height: 50vh;
                border: 1px solid $Gray300;
                border-radius: 8px;

                display: none;
            }
        }

        &-form {

            display: flex;
            flex-direction: column;

            width: 100%;

            border: 1px solid $Gray300;
            border-radius: 8px;

            padding: 1rem;
            gap: 1rem;

            &-row {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
            }

            input,
            textarea {
                width: 100%;
                padding: 1rem;
                border: 1px solid $Gray300;
                border-radius: 8px;

                @include Interactable;

                &::placeholder {
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                }
            }

            textarea {
                height: 200px;
            }

            &-submit {
                background-color: var(--accent-color);
                font-family: 'Inter', sans-serif;
                font-size: 18px;
                font-weight: 600;
                color: var(--light);

                cursor: pointer;

                @include Interactable
            }

        }

        &-mapmobile {
            display: flex;
            flex-direction: column;
            padding-block: 1rem;

            &-maptag {
                margin-bottom: 1rem;

            }

            &-map {
                height: 50vh;
                border: 1px solid $Gray300;
                border-radius: 8px;

            }
        }
    }
}