.hero_slider_style4 {
    overflow: hidden;

    &-slide {
        min-height: 100vh;
        width: 100%;

        &-bg {
            background-image: url('/public/bgs/hero_slider/bg_desktop.png');
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            max-width: 100%;

            @media (max-width: 1024px) {
                background-image: url('/public/bgs/hero_slider/bg_tablet.png');
            }

            @media (max-width: 768px) {
                background-image: url('/public/bgs/hero_slider/bg_mobile.png');
            }
        }

        &-overlay {
            background: hsla(0, 0%, 0%, 0.2);
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            max-width: 100%;
        }

        &-content {
            position: absolute;
            z-index: 1;

            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;

            color: white;

            padding-inline: 1rem;


            h1 {
                font-size: 64px;
                font-weight: 800;

                @media (max-width: 1024px) {
                    font-size: 48px;
                }

                @media (max-width: 768px) {
                    font-size: 36px;
                }
            }

            h2 {
                font-size: 48px;
                font-weight: 500;
                margin-bottom: 1rem;

                @media (max-width: 1024px) {
                    font-size: 36px;
                }

                @media (max-width: 768px) {
                    font-size: 24px;
                }
            }

            p {
                font-size: 18px;
                line-height: 1.75;
                margin-bottom: 1rem;
                width: 48ch;

                @media (max-width: 1024px) {
                    font-size: 16px;
                    width: 50%;
                }

                @media (max-width: 768px) {
                    font-size: 16px;
                    width: 90%;
                }
            }

            &-actions {

                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;

                margin-bottom: 4rem;

                @media (max-width: 768px) {
                    flex-direction: column;
                    width: 100%;
                }

                button {
                    margin-right: 1rem;
                    max-width: 70%;

                    @media (max-width: 768px) {
                        margin-right: 0rem;
                        margin-bottom: 1rem;
                        width: 90%;
                    }
                }

            }
        }
    }
}