.testimonials_style3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-block: 4rem;

    overflow: hidden;

    &-content {

        display: flex;
        flex-direction: column;
        gap: 1rem;

        align-items: center;


        &-text {
            padding-inline: 1rem;
            width: 70%;
            margin: auto 0;

            margin-bottom: 4rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            &-tag {
                display: flex;
                flex-direction: row;

                width: fit-content;
                align-items: center;
                justify-content: space-evenly;

                margin-bottom: 0.5rem;

                svg {
                    height: 24px;
                    width: 24px;

                    stroke: var(--accent-color);
                    margin-right: 0.5rem;
                }

                p {
                    color: var(--accent-color);
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 800;
                }
            }

            &-title {
                font-size: 48px;
                margin-bottom: 2.5rem;
                text-transform: capitalize;
                text-align: center;
            }

            &-description {
                width: 70%;
                font-size: 20px;
                line-height: 1.75;
                margin-bottom: 2rem;
                text-align: center;
            }

            @media (max-width: 768px) {

                width: 100%;

                &-title {
                    font-size: 28px;
                    margin-bottom: 2.5rem;
                    text-transform: capitalize;
                }

                &-description {
                    width: 100%;
                    font-size: 18px;
                    line-height: 1.75;
                    margin-bottom: 2rem;

                }
            }
        }

        .swiper-2 {

            width: 100%;

            @media (max-width: 1024px) {
                width: 100%;
            }

            .swiper-button-prev,
            .swiper-button-next {
                color: var(--accent-color);
            }
        }



        &-slide {

            /// no such div exists
            &-title {
                display: flex;
                flex-direction: column;

                margin-bottom: 2rem;

                text-align: center;

                &-name {
                    font-size: 24px;
                    color: var(--accent-color);
                }

                &-job {
                    font-size: 18px;
                    font-style: italic;
                    margin-bottom: 0.5rem;
                }

                &-location {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            &-content {
                display: flex;
                flex-direction: column-reverse;
                justify-content: space-evenly;
                align-items: center;

                text-align: center;

                &-image {
                    width: 100%;
                }

                &-text {
                    font-size: 18px;
                    line-height: 1.75;
                    width: 90%;
                    padding: 1rem;

                    @media (max-width: 1024px) {
                        width: 100%;
                    }
                }
            }
        }

    }

}