.gallery_overview_style5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    gap: 2rem;

    padding: 4rem;

    background-image:  radial-gradient(ellipse at 47% 10%, hsla(218, 100%, 15.56%, 0.94) 1%, hsla(239, 36.96%, 13.06%, 0.78) 95%), radial-gradient(ellipse at 23% 20%, hsla(240,6.88%,62.94%,0.8281121269919061) 24%, hsla(36,60%,4.9%,0.9236865814321569) 62%), repeating-linear-gradient(260deg, hsla(215.04,79.62%,30.78%,0.20528465624200476) 28%, hsla(30.3,71.63%,27.65%,0.6871048670957065) 37%), linear-gradient(84deg, hsla(38,65.22%,27.06%,0.5368973756248177) 5%, hsla(248.57,53.85%,5.1%,0.7009620199281921) 48%), conic-gradient(from 190deg at 88% 95%, #5c49eb 15%, #35d272 17%);


    color: var(--light);

    @media (max-width: 1024px) {
        flex-direction: column;
        padding: 2rem;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 1rem;
    }

    &-text {
        width: 100%;
        margin-bottom: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        &-tag {
            display: flex;
            flex-direction: row;

            width: fit-content;
            align-items: center;
            justify-content: space-evenly;

            margin-bottom: 0.5rem;

            p {
                color: var(--accent-color-1);
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 800;
            }
        }

        &-title {
            font-size: 36px;
            margin-bottom: 1rem;
            text-transform: capitalize;

            @media (max-width: 1024px) {
                font-size: 28px;
            }

            @media (max-width: 768px) {
                font-size: 24px;
            }
        }

        &-subtitle {
            font-size: 28px;
            margin-bottom: 2rem;
            text-transform: capitalize;

            @media (max-width: 1024px) {
                font-size: 20px;
            }

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        &-description {
            font-size: 20px;
            width: 100%;
            line-height: 1.5;
            margin-bottom: 2rem;

            width: 70%;

            @media (max-width: 1024px) {
                width: 90%;
            }

            @media (max-width: 768px) {
                font-size: 16px;
                width: 100%;
            }
        }

        &-actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            gap: 1rem;

            margin-bottom: 2rem;

            @media (max-width: 768px) {
                flex-direction: column;

                button {
                    width: 100%;
                }
            }
        }

        &-nodes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2rem;
            place-items: center;

            width: 100%;

            @media (max-width: 1024px) {
                display: none;
            }

            @media (max-width: 768px) {
                display: none;
            }

            &-node {
                width: 100%;

                border-radius: 8px;

                padding: 2rem 1rem;


                background-color: var(--light);



                img {
                    width: 64px;
                    margin-bottom: 2rem;
                }

                h3 {
                    color: var(--accent-color);
                    margin-bottom: 0.5rem;
                }

                p {
                    line-height: 1.5;
                }
            }
        }
    }
    
    &-slide{

        
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        min-height: 400px;
        min-width: 500px;

        @media (max-width: 768px) {
            min-width: 200px;
            position: static;
        }
        
        overflow: hidden;
        
        border-radius: 16px;
        
        &-bg{
            position: absolute;
            z-index: -1;
            width: 100%;
            border-radius: 16px;

            display: grid;
            place-items: center;

            img{
                width: 100%;   
                border-radius: 16px;
            }
            
                    @media (max-width: 768px) {
                        position: static;
                        margin-bottom: 1rem;
                    }
        }
        
        &-overlay{
            position: absolute;
            z-index: 0;   

        }
        
        &-content{
            position: absolute;
            z-index: 1;               
            background: rgba(14, 24, 219, 0.22);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(8.8px);
            border: 1px solid rgba(14, 24, 219, 0.3);

            width: 80%;

            text-align: center;

            padding: 1rem;

            
            @media (max-width: 768px) {
                position: static;
            }

            h3{
                margin-bottom: 1rem;
            }

            p{
                margin-bottom: 1rem;
            }

        }
    }

    &-swiper{
        width: 100%;
        overflow: hidden;
    }
}