.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;

    &:hover{
        &:before{
            width: 100%;
            background: var(--accent-color);        
        }
    
    a{
        svg{

            transform: translateX(0);
        }
    }
    }

    &:active{
        transform: scale(0.95);
    }


&:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--primary-color);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

a{
    span{
    position: relative;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--secondary-color);
    }

    svg{
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--secondary-color);
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
        }
    }   
}

.cta-secondary {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;

    &:hover{
        &:before{
            width: 100%;
            background: var(--secondary-color);        
        }
    
    a{
        svg{

            transform: translateX(0);
        }
    }
    }

    &:active{
        transform: scale(0.95);
    }


&:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--secondary-color);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

a{
    span{
    position: relative;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--primary-color);
    }

    svg{
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--primary-color);
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
        }
    }   
}

.sell-btn {
    background-color: var(--accent-color);

    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    z-index: 1;

    box-shadow: 0px 0px 0px 8px #bd272d55;
    animation: flash 1000ms infinite alternate;

    a {

        cursor: pointer;
        padding-inline: 12px;
        padding-block: 6px;
        border-radius: 8px;
        gap: 8px;

        @include Center;
        flex-direction: row;



        span {
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
            transition: transform 200ms;
            color: var(--light);
        }

        svg {
            stroke: var(--light);
            width: 18px;
            height: 18px;
        }

        svg {
            transition: opacity 100ms ease-out;


            &:nth-child(2) {
                animation: arrow-come 400ms forwards;
            }

            &:nth-child(3) {
                animation: arrow-leave 400ms forwards;
                display: none;
            }
        }

    }

    &:hover {

        box-shadow: 0px 0px 0px 8px #bd272d55;
        animation: none;

        a {

            span {
                transform: translateX(4px);
                transition: transform 400ms;
                color: var(--accent-color);
            }

            svg {
                stroke: var(--accent-color);

                &:nth-child(2) {
                    animation: arrow-leave 400ms forwards;
                    display: none;
                }

                &:nth-child(3) {
                    display: block;
                    animation: arrow-come 400ms forwards;
                }
            }
        }
    }

    &::before,
    &::after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: var(--light);
        transition: transform 0.5s ease, opacity 0.5s ease;
        opacity: 0;
    }

    &::before {
        top: -2rem;
        left: -2rem;
    }

    &::after {
        left: calc(100% + 2rem);
        top: calc(100% + 2rem);
    }

    &:hover::before,
    &:hover::after {
        transform: translate(-50%, -50%) scale(10);
        opacity: 1;
    }
}

.action_button {
    background: var(--accent-color);
    border: none;
    border-radius: 8px;

    margin-right: 1rem;

    @include Interactable;

    a {
        font-family: 'Inter', sans-serif;

        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        transition: all 0.2s;
        cursor: pointer;

        text-transform: capitalize;



        span {
            color: var(--light);
            font-size: 16px;
        }

        svg {
            stroke: var(--light);
            fill: transparent;
            margin-right: 1rem;
            height: 28px;
            width: 28px;
        }
    }

}

.action_button-secondary {
    background: var(--secondary-color);
    border: none;
    border-radius: 8px;

    margin-right: 1rem;

    @include Interactable;

    a {
        font-family: 'Inter', sans-serif;

        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        transition: all 0.2s;
        cursor: pointer;

        text-transform: capitalize;



        span {
            color: var(--light);
            font-size: 16px;
        }

        svg {
            stroke: var(--light);
            fill: transparent;
            margin-right: 1rem;
            height: 28px;
            width: 28px;
        }
    }

}


.section-btn {
    cursor: pointer;
    @include Interactable;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: var(--light);
    border: none;

    padding: 0.5rem 1rem;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: var(--light);

        font-family: 'Inter', sans-serif;
        font-size: 14px;
        text-transform: capitalize;

        svg {
            height: 24px;
            width: 24px;

            stroke: var(--light);

            &:first-child {
                margin-right: 0.5rem;
                animation: arrow-come 400ms forwards;
            }

            &:last-child {
                animation: arrow-leave 400ms forwards;
                display: none;
            }
        }
    }

    &:hover {
        a {
            svg {
                &:first-child {
                    animation: arrow-leave 400ms forwards;
                    display: none;
                }

                &:last-child {
                    animation: arrow-come 400ms forwards;
                    margin-left: 0.5rem;
                    display: block;
                }
            }
        }
    }
}

.option-btn {
    cursor: pointer;
    @include Interactable;
    border-radius: 8px;

    padding: 0.5rem 1rem;
    background-color: var(--primary-color);

    border: none;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        color: var(--light);

        font-family: 'Inter', sans-serif;
        font-size: 16px;
        text-transform: capitalize;

        transition: background-color 100ms ease-in;

        svg {
            height: 16px;
            width: 16px;

            stroke: var(--light);
            stroke-width: 2;
            opacity: 1;
        }
    }

    &:hover {

        a {
            font-weight: 600;

            svg {
                transform: translateX(4px);
                transition: transform 200ms ease-out;
            }
        }
    }
}

@media (max-width: 1025px) {

    .main-btn,
    .section-btn {
        &:hover {
            a {
                svg:last-child {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .sell-btn {
        position: fixed;
        bottom: 5rem;
        right: 25%;
        z-index: 1000;
    }
}