.contact_hero_style1 {

    .hero-carousel {
        position: relative;
        height: 80vh;
        overflow: hidden;
        display: flex;
        align-items: stretch;

        background-color: var(--dark);


        .hero-slider {
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: transform 0.5s ease, opacity 0.5s ease;

            &.active {
                opacity: 1;
                pointer-events: auto;
                transform: translateX(0);
            }


            &-dark-overlay {
                position: absolute;
                height: 100%;
                width: 100vw;
                background: linear-gradient(to right, hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 0%, 0.8));
                backdrop-filter: blur(1px);
                z-index: 1;
            }

            &-content {
                position: absolute;
                z-index: 2;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;

                color: var(--light);

                h1 {
                    width: 50%;
                    font-size: 64px;
                    text-align: center;
                    margin-bottom: 2rem;
                }

                p {
                    width: 30%;
                    text-align: center;
                    margin-bottom: 2rem;
                    font-size: 18px;
                }

                button {
                    height: 3rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }


    &-indicator {
        position: absolute;
        z-index: 10;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;

        height: 5vh;

        background: linear-gradient(to top, #222222, #00000000);

        svg {
            width: 32px;
            rotate: 90deg;
            stroke: var(--accent-color);
            margin-right: 1rem;

            animation: fly-x 500ms infinite alternate;
        }
    }
}


@media screen and (max-width: 768px) {
    .contact_hero_style1 {

        .hero-carousel {

            .nav-btn {
                position: absolute;
                z-index: 20;
                top: 0;
                bottom: 0;
                width: 2rem;
                background-color: rgba(0, 0, 0, 0.1);
                color: white;
                border: none;
                cursor: pointer;
                transition: background-color 100ms ease-out;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }

            .prev-btn {
                left: 0;
            }

            .next-btn {
                right: 0;
            }

            .hero-slider {
                &-content {
                    h1 {
                        width: 80%;
                        font-size: 32px;
                        text-align: center;
                        margin-bottom: 2rem;
                    }

                    p {
                        width: 80%;
                        text-align: center;
                        margin-bottom: 2rem;
                        font-size: 18px;
                    }

                    button {
                        height: 3rem;
                    }
                }
            }
        }
    }
}