.homepage_cta_style2 {
    padding-block: 8rem;

    // background: linear-gradient(-45deg, #ee7752, #e73c7e, var(--accent-color), #e73c7e);
    background: var(--accent-color);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-position-y: 0;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        color: var(--light);

        h2 {
            font-size: 36px;
            margin-bottom: 2.5rem;
            text-transform: capitalize;

            @media (max-width: 1024px) {
                font-size: 32px;
            }

            @media (max-width: 768px) {
                font-size: 24px;
            }

        }

        p {
            font-size: 20px;
            line-height: 1.5;
            width: 80%;

            margin-bottom: 2rem;
        }

        button{
            background-color: transparent;
            border: 1px solid var(--light);
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
