.homepage_cta_style3{
    min-height: 50vh;

    background-color: #efefef;

    padding-block: 2rem;


    .global_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        @media (max-width: 768px){
            flex-direction: column;
        }
    }

    &-image{
        width: 50%;
        display: grid;
        place-items: center;

        @media (max-width: 768px){
            margin-bottom: 2rem;
        }
        
        img{
            width: 70%;
            @media (max-width: 768px){
                width: 100%;
            }
        }
    }

    &-text{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-title {
            font-size: 36px;
            margin-bottom: 1rem;
            text-transform: capitalize;

            @media (max-width: 1024px) {
                font-size: 28px;
            }

            @media (max-width: 768px) {
                font-size: 24px;
            }
        }

        &-subtitle {
            font-size: 28px;
            margin-bottom: 2rem;
            text-transform: capitalize;

            @media (max-width: 1024px) {
                font-size: 20px;
            }

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }

        &-description {
            font-size: 20px;
            width: 100%;
            line-height: 1.5;
            margin-bottom: 2rem;

            width: 70%;

            @media (max-width: 1024px) {
                width: 90%;
            }

            @media (max-width: 768px) {
                font-size: 16px;
                width: 100%;
            }
        }

        &-actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            gap: 1rem;

            margin-bottom: 2rem;

            @media (max-width: 768px) {
                flex-direction: column;

                button {
                    width: 100%;
                }
            }
        }
    }
}