.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-block {
    display: block !important;
}

.hide {
    display: none;
}

.spin-arrow {
    transform: rotateZ(180deg);
    transition: transform 100ms ease-out;
}