$Red50: #FEF2F2;
$Red100: #FEE2E2;
$Red200: #FECACA;
$Red300: #FCA5A5;
$Red400: #FCA5A5;
$Red500: #EF4444;
$Red600: #DC2626;
$Red700: #B91C1C;
$Red800: #991B1B;
$Red900: #7F1D1D;

$Pink50: #fce4ec;
$Pink100: #f8bbd0;
$Pink200: #f48fb1;
$Pink300: #f06292;
$Pink400: #ec407a;
$Pink500: #e91e63;
$Pink600: #d81b60;
$Pink700: #c2185b;
$Pink800: #ad1457;
$Pink900: #880e4f;

$Purple50: #faf5ff;
$Purple100: #f3e8ff;
$Purple200: #e9d5ff;
$Purple300: #d8b4fe;
$Purple400: #c084fc;
$Purple500: #a855f7;
$Purple600: #9333ea;
$Purple700: #7e22ce;
$Purple800: #6b21a8;
$Purple900: #581c87;

$DeepPurple50: #ede7f6;
$DeepPurple100: #d1c4e9;
$DeepPurple200: #b39ddb;
$DeepPurple300: #9575cd;
$DeepPurple400: #7e57c2;
$DeepPurple500: #673ab7;
$DeepPurple600: #5e35b1;
$DeepPurple700: #512da8;
$DeepPurple800: #4527a0;
$DeepPurple900: #311b92;

$Indigo50: #e8eaf6;
$Indigo100: #c5cae9;
$Indigo200: #9fa8da;
$Indigo300: #7986cb;
$Indigo400: #5c6bc0;
$Indigo500: #3f51b5;
$Indigo600: #3949ab;
$Indigo700: #303f9f;
$Indigo800: #283593;
$Indigo900: #1a237e;

$Blue50: #eff6ff;
$Blue100: #dbeafe;
$Blue200: #bfdbfe;
$Blue300: #93c5fd;
$Blue400: #60a5fa;
$Blue500: #3b82f6;
$Blue600: #2563eb;
$Blue700: #1d4ed8;
$Blue800: #1e40af;
$Blue900: #1e3a8a;

$LightBlue50: #e1f5fe;
$LightBlue100: #b3e5fc;
$LightBlue200: #81d4fa;
$LightBlue300: #4fc3f7;
$LightBlue400: #29b6f6;
$LightBlue500: #03a9f4;
$LightBlue600: #039be5;
$LightBlue700: #0288d1;
$LightBlue800: #0277bd;
$LightBlue900: #01579b;

$Cyan50: #e0f7fa;
$Cyan100: #b2ebf2;
$Cyan200: #80deea;
$Cyan300: #4dd0e1;
$Cyan400: #26c6da;
$Cyan500: #00bcd4;
$Cyan600: #00acc1;
$Cyan700: #0097a7;
$Cyan800: #00838f;
$Cyan900: #006064;

$Teal50: #e0f2f1;
$Teal100: #b2dfdb;
$Teal200: #80cbc4;
$Teal300: #4db6ac;
$Teal400: #26a69a;
$Teal500: #009688;
$Teal600: #00897b;
$Teal700: #00796b;
$Teal800: #00695c;
$Teal900: #004d40;

$Green50: #e8f5e9;
$Green100: #c8e6c9;
$Green200: #a5d6a7;
$Green300: #81c784;
$Green400: #66bb6a;
$Green500: #22C55E;
$Green600: #43a047;
$Green700: #15803d;
$Green800: #166534;
$Green900: #14532d;

$LightGreen50: #f1f8e9;
$LightGreen100: #dcedc8;
$LightGreen200: #c5e1a5;
$LightGreen300: #aed581;
$LightGreen400: #9ccc65;
$LightGreen500: #8bc34a;
$LightGreen600: #7cb342;
$LightGreen700: #689f38;
$LightGreen800: #558b2f;
$LightGreen900: #33691e;

$Lime50: #f9fbe7;
$Lime100: #f0f4c3;
$Lime200: #e6ee9c;
$Lime300: #dce775;
$Lime400: #d4e157;
$Lime500: #cddc39;
$Lime600: #c0ca33;
$Lime700: #afb42b;
$Lime800: #9e9d24;
$Lime900: #827717;

$Yellow50: #fffde7;
$Yellow100: #fff9c4;
$Yellow200: #fff59d;
$Yellow300: #fff176;
$Yellow400: #ffee58;
$Yellow500: #ffeb3b;
$Yellow600: #fdd835;
$Yellow700: #fbc02d;
$Yellow800: #f9a825;
$Yellow900: #f57f17;

$Amber50: #fff8e1;
$Amber100: #ffecb3;
$Amber200: #ffe082;
$Amber300: #ffd54f;
$Amber400: #ffca28;
$Amber500: #ffc107;
$Amber600: #ffb300;
$Amber700: #ffa000;
$Amber800: #ff8f00;
$Amber900: #ff6f00;

$Orange50: #fff3e0;
$Orange100: #ffe0b2;
$Orange200: #ffcc80;
$Orange300: #ffb74d;
$Orange400: #ffa726;
$Orange500: #ff9800;
$Orange600: #fb8c00;
$Orange700: #f57c00;
$Orange800: #ef6c00;
$Orange900: #e65100;

$DeepOrange50: #fbe9e7;
$DeepOrange100: #ffccbc;
$DeepOrange200: #ffab91;
$DeepOrange300: #ff8a65;
$DeepOrange400: #ff7043;
$DeepOrange500: #ff5722;
$DeepOrange600: #f4511e;
$DeepOrange700: #e64a19;
$DeepOrange800: #d84315;
$DeepOrange900: #bf360c;

$Brown50: #efebe9;
$Brown100: #d7ccc8;
$Brown200: #bcaaa4;
$Brown300: #a1887f;
$Brown400: #8d6e63;
$Brown500: #795548;
$Brown600: #6d4c41;
$Brown700: #5d4037;
$Brown800: #4e342e;
$Brown900: #3e2723;

$Gray50: #F9FAFB;
$Gray100: #F3F4F6;
$Gray200: #E5E7EB;
$Gray300: #D2D5DA;
$Gray400: #9CA3AF;
$Gray500: #6D7280;
$Gray600: #4B5563;
$Gray700: #374151;
$Gray800: #1F2937;
$Gray900: #111827;