.articles_list_style1 {
    display: flex;
    flex-direction: column;

    padding-block: 4rem;

    &-title {

        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 2rem;

        svg {
            stroke: var(--primary-color);
            margin-right: 1rem;
        }

        &-h2 {
            color: var(--primary-color);
        }
    }

    &-item {
        display: flex;
        flex-direction: row;
        
        border: 1px solid $Gray300;
        border-radius: 8px;

        margin-bottom: 2rem;

        &-image {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            width: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-text {
            width: 50%;
            padding: 2rem 1rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h3{
                font-size: 28px;
                margin-bottom: 1rem;
            }

            p{
                font-size: 16px;
                line-height: 1.5;
                margin-bottom: 2rem;
            }

        }
    }
}

@media screen and (max-width: 768px){
    .articles_list_style1 {
            
            &-item {
                display: flex;
                flex-direction: column;
                border: 1px solid $Gray300;
    
                &-image {
                    width: 100%;
                    overflow: hidden;

                    border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        border-bottom-left-radius: 0px;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
    
                &-text {
                    width: 100%;
                    padding: 1rem;
    
                    h3 {
                        font-size: 24px;
                        margin-bottom: 1rem;
                    }
    
                    p {
                        line-height: 1.5;
                        margin-bottom: 1rem;
                    }

                    button{
                        width: 100%;
                    }
                }
            }
        }
}