.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    width: 100%;

    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.7), hsla(0, 0%, 100%, 0.9));
    backdrop-filter: blur(10px);

    // &__info{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;

    //     &-node{
    //         display: flex;
    //         flex-direction: row;
    //         align-items: center;
    //         color: var(--primary-color);
            
    //         p{
    //             margin-right: 1rem;
    //             font-size: 10px;
    //             text-transform: uppercase;
    //         }

    //         h3{
    //             font-size: 14px;
    //         }
    //     }
    // }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 10%;

        img {
            width: 100%;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;

        li {

            margin-right: 2.5rem;
            list-style: none;

            transition: transform 100ms ease-in;

            &:last-child {
                margin-right: 0rem;
            }


            &:hover {
                transform: translateY(-2px);
                transition: transform 50ms ease-in;
            }

            &:active {
                transform: translateY(2px);
                transition: transform 50ms ease-in;
            }

            a {
                color: var(--dark);
                font-size: 18px;
                text-transform: capitalize;

                &:hover{
                    color: var(--accent-color);
                }
            }
        }
    }

    &__cta {
        button {

            &::before,
            &::after {
                display: none;
            }

            &:hover {
                a {

                    span,
                    svg {
                        color: var(--light);
                        stroke: var(--light);
                    }
                }
            }
        }

    }
}

.BottomNav {
    display: none;
    flex-direction: row;
    background-color: var(--primary-color);
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    z-index: 1000;
    width: 100%;
    bottom: 0;

    &__left,
    &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        a {
            text-decoration: none;

            height: 4rem;
            width: 50%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            svg {
                width: 20px;
                height: 20px;
            }

            p {
                color: var(--light);
                font-size: 10px;
                text-transform: uppercase;
            }
        }
    }

    &__middle {
        position: relative;
        bottom: 2rem;

        button {
            border: none;
            width: 4rem;
            height: 4rem;
            border-radius: 25%;
            background-color: var(--accent-color);

            box-shadow: 0px 0px 1px 5px lighten(#ff660056, 10%);

            display: grid;
            place-items: center;

            a {
                svg {
                    stroke: var(--light);
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}


@media (max-width: 1024px) {
    .header {


        &__cta {
            button {

                &::before,
                &::after {
                    display: none;
                }

                svg {
                    display: none;
                }

                &:hover {

                    a {
                        span {
                            transform: none;
                        }
                    }
                }
            }

        }
    }
}

/* Tablet styles */
@media (max-width: 768px) {

    .header {

        display: none;
    }

    .BottomNav {
        display: flex;
    }
}