 .header {
     display: flex;
     position: fixed;
     z-index: 1000;
     width: 100%;

     background: linear-gradient(to right, hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.8));
     backdrop-filter: blur(10px);

     &__content {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
     }

     &__logo {
         width: 8%;

         img {
             width: 100%;
         }
     }

     &__nav {
         display: flex;
         flex-direction: row;

         li {
             @include Interactable;
             margin-right: 2rem;
             list-style: none;

             &:last-child {
                 margin-right: 0rem;
             }

             a {
                 color: var(--light);
                 font-size: 16px;



                 &:hover {
                     transform: translateY(-4px);
                 }
             }
         }
     }

     &__cta {
         button {

             &::before,
             &::after {
                 display: none;
             }

             &:hover {
                 a {

                     span,
                     svg {
                         color: var(--light);
                         stroke: var(--light);
                     }
                 }
             }
         }

     }
 }

 .BottomNav {
     display: none;
     flex-direction: row;
     background-color: var(--primary-color);
     justify-content: space-evenly;
     align-items: center;

     position: fixed;
     z-index: 1000;
     width: 100vw;
     bottom: 0;

     &__left,
     &__right {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-evenly;
         width: 100%;

         a {
             text-decoration: none;

             height: 4rem;
             width: 50%;

             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: space-evenly;

             svg {
                 width: 20px;
                 height: 20px;
             }

             p {
                 color: var(--light);
                 font-size: 10px;
                 text-transform: uppercase;
             }
         }
     }

     &__middle {
         position: relative;
         bottom: 2rem;

         button {
             border: none;
             width: 4rem;
             height: 4rem;
             border-radius: 25%;
             background-color: var(--accent-color);

             box-shadow: 0px 0px 1px 5px rgba(52, 183, 148, 0.274);

             display: grid;
             place-items: center;

             a {
                 svg {
                     stroke: var(--light);
                     width: 28px;
                     height: 28px;
                 }
             }
         }
     }
 }


 @media (max-width: 1024px) {
     .header {


         &__cta {
             button {

                 &::before,
                 &::after {
                     display: none;
                 }

                 svg {
                     display: none;
                 }

                 &:hover {
                     @include Interactable;

                     a {
                         span {
                             transform: none;
                         }
                     }
                 }
             }

         }
     }
 }

 /* Tablet styles */
 @media (max-width: 768px) {

     .header {

         display: none;
     }

     .BottomNav {
         display: flex;
     }
 }

