.header {
    display: flex;
    flex-direction: column;

    transition: top 0.5s ease-out;


    @media (max-width: 768px) {
        display: none;
    }

    &__notification {
        display: flex;
        flex-direction: row;

        background-color: var(--dark);
        color: var(--light);

        justify-content: space-between;
        align-items: center;
        min-height: 36px;
        padding-inline: 4rem;

        @media (max-width: 1024px) {
            padding-inline: 1rem;
        }

        p {
            font-size: 12px;

            a {
                font-weight: 600;
                color: var(--light);
                text-decoration: underline;
            }
        }

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }


    &__main {
        background-color: var(--accent-color-1);
        min-height: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-inline: 4rem;

        @media (max-width: 1024px) {
            padding-inline: 1rem;
        }

        @media (max-width: 768px) {
            flex-direction: row-reverse;
        }


        &-navigation {
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media (max-width: 1024px) {
                font-size: 14px;
            }

            @media (max-width: 768px) {
                width: 80%;
            }
        }

        &-logo {
            width: 10%;

            img {
                width: 100%;
            }
        }

        &-actions {
            width: 40%;
            display: flex;
            justify-content: space-evenly;

            @media (max-width: 1024px) {
                flex-direction: row;
            }

            @media (max-width: 768px) {
                display: none;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                @media (max-width: 1024px) {
                    flex-direction: column;
                }

                svg {
                    margin-right: 1rem;
                    width: 24px;

                    @media (max-width: 1024px) {
                        margin: 0;
                        margin-bottom: 0.5rem;
                    }
                }

                span {
                    font-weight: 600;
                }
            }
        }
    }


    &__social {
        background-color: var(--dark);
        min-height: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-inline: 4rem;

    }
}


.header--fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    transition: top 0.5s ease-out;
}



.navigation_mobile {
    position: fixed;
    z-index: 1000;
    bottom: 0;

    width: 100%;
    padding-block: 1rem;
    padding-inline: 0.5rem;

    background: linear-gradient(to left, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.9), );

    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    @media (max-width:768px) {
        display: flex;
    }

    &-logo {
        width: 33%;

        img {
            width: 100%;
        }
    }

    &-action,
    &-menu {
        width: 50%;
        display: grid;
        place-items: center;
    }

    &-action {
        height: 100%;

        button {
            padding-block: 0.5rem;
            padding-inline: 0.5rem;

            border-radius: 1rem;

            border: none;

            background-color: var(--accent-color);

            box-shadow: 0px 2px 0px 0px #00000076;

            &:active {
                box-shadow: none;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;

                svg {
                    stroke: var(--dark);
                    margin-right: 0.5rem;
                    width: 18px;
                }

                span {
                    font-weight: 800;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
        }
    }
}