.double_screen_style1 {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 92px);

    @media (max-width: 1024px) {
        min-height: auto;
        flex-direction: column;
    }


    &-card {
        background-position: center center;

        @include Center;
        flex-direction: column;

        text-align: center;

        color: var(--light);

        h2 {
            font-size: 36px;
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 18px;
            line-height: 1.75;
            width: 75%;
            margin-bottom: 2rem;
        }

        @media (max-width: 1024px) {
            height: 80vh;

            h2 {
                font-size: 24px;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 16px;
                line-height: 1.75;
                width: 90%;
                margin-bottom: 2rem;
            }
        }
    }
}