.why_choose_us_style1 {
    padding-block: 4rem;

    display: flex;
    flex-direction: column;

    &-content {

        display: flex;
        flex-direction: column;
        gap: 3rem;

        align-items: center;

        &-text {
            padding-inline: 1rem;
            width: 100%;
            margin: auto 0;

            margin-bottom: 1rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            &-tag {
                display: flex;
                flex-direction: row;

                width: fit-content;
                align-items: center;
                justify-content: space-evenly;

                margin-bottom: 0.5rem;

                svg {
                    height: 24px;
                    width: 24px;

                    stroke: var(--accent-color);
                    margin-right: 0.5rem;
                }

                p {
                    color: var(--accent-color);
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 800;
                }
            }

            &-title {
                font-size: 48px;
                margin-bottom: 2.5rem;
                text-transform: capitalize;
                text-align: center;
            }

            &-description {
                width: 100%;
                font-size: 18px;
                line-height: 1.75;
                margin-bottom: 2rem;
                text-align: center;
            }

        }

        &-nodes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2rem;

            place-items: center;

            &-node {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                text-align: center;

                img {
                    width: 64px;
                    margin-bottom: 1rem;
                }

                h3 {
                    color: var(--accent-color);
                    margin-bottom: 0.5rem;
                }

                p {
                    line-height: 1.5;
                    width: 70%;
                }
            }
        }
    }
}


@media (max-width: 1024px) {
    .why_choose_us_style1 {
        padding-block: 4rem;

        display: flex;
        flex-direction: column;

        &-content {

            display: flex;
            flex-direction: column;
            gap: 3rem;

            align-items: center;

            &-text {
                padding-inline: 1rem;
                width: 100%;
                margin: auto 0;

                margin-bottom: 1rem;

                display: flex;
                flex-direction: column;
                align-items: center;

                &-tag {
                    display: flex;
                    flex-direction: row;

                    width: fit-content;
                    align-items: center;
                    justify-content: space-evenly;

                    margin-bottom: 0.5rem;

                    svg {
                        height: 24px;
                        width: 24px;

                        stroke: var(--accent-color);
                        margin-right: 0.5rem;
                    }

                    p {
                        color: var(--accent-color);
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 800;
                    }
                }

                &-title {
                    font-size: 36px;
                    margin-bottom: 2.5rem;
                    text-transform: capitalize;
                    text-align: center;
                }

                &-description {
                    width: 70%;
                    font-size: 16px;
                    line-height: 1.75;
                    margin-bottom: 2rem;
                    text-align: center;
                }

            }

            &-nodes {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 2rem;

                place-items: center;

                &-node {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    text-align: center;

                    img {
                        width: 64px;
                        margin-bottom: 1rem;
                    }

                    h3 {
                        color: var(--accent-color);
                        margin-bottom: 0.5rem;
                    }

                    p {
                        line-height: 1.5;
                        width: 70%;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .why_choose_us_style1 {
        padding-block: 4rem;

        display: flex;
        flex-direction: column;

        &-content {

            display: flex;
            flex-direction: column;
            gap: 3rem;

            align-items: center;

            &-text {
                padding-inline: 0rem;
                width: 100%;
                margin: auto 0;

                margin-bottom: 1rem;

                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &-tag {
                    display: flex;
                    flex-direction: row;

                    width: fit-content;
                    align-items: center;
                    justify-content: space-evenly;

                    margin-bottom: 0.5rem;

                    svg {
                        height: 24px;
                        width: 24px;

                        stroke: var(--accent-color);
                        margin-right: 0.5rem;
                    }

                    p {
                        color: var(--accent-color);
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 800;
                    }
                }

                &-title {
                    font-size: 32px;
                    margin-bottom: 2.5rem;
                    text-transform: capitalize;
                    text-align: start;
                }

                &-description {
                    width: 100%;
                    font-size: 16px;
                    line-height: 1.75;
                    margin-bottom: 2rem;
                    text-align: start;
                }

            }

            &-nodes {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3rem;

                &-node {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    text-align: center;

                    img {
                        width: 64px;
                        margin-bottom: 1rem;
                    }

                    h3 {
                        color: var(--accent-color);
                        margin-bottom: 0.5rem;
                    }

                    p {
                        line-height: 1.5;
                        width: 100%;
                    }
                }
            }
        }
    }
}